h1, h3, p.mainp {
    text-align: center;
    color: white;
}

.main {
    background-color: #000000;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: auto;
}

.downloads {
    padding-top: 50px;
    margin: auto;
}
.container, .row, .columns, .button {
    text-align: center;
    margin: auto;
}

u-pull-left, u-pull-right {
     margin-top: 100px;
}
u-pull-left {
    margin-left: 20px;
}

u-pull-right {
    margin-right: 20px;
}