

u-full-height {
    height: 100%;
}


.form {
    height: 90vh;
    width: 100%;
}

.text-align-center {
    text-align: center;
}

container, row, columns {
    height: 100vh;
}


#title {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 5px;
    border-bottom-width: 0px;
    border-top-width: 0px;
}


.plus-icon {
    margin: auto;
    text-align: center;
    width: 100%;
}

.width80 {
    width: 80%;
}


.sideitem {
    list-style:none;
    border: #bbb 1px solid;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 50px;
    background-color: inherit;
}

.active {
    background-color: #f4f4f4;
}



.sidelist {
    width: 100%;
}

.container, .row, form, textarea {
    margin:auto;
    padding: 0px;
    margin: 0px;
}

textarea {
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    border-bottom-width: 0px;
}




.columns {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin:2px;
}

